.btn-blue {
	background-color: #c3ab92;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	background-position: center;

}


.btn-blue:hover {
	background-color: #623a25;
}